@import "compass";
@import "susy";
$susy:(
	container :1200px,
	columns: 12,  
	 
  debug: (
    image: hide,
    color: rgba(#66f, .65),
   
  )
  );

.wrap{
	@include container;
	background-color: #FFF;
  position: relative;
  width: 1200px;
}








