html,body{
	height: 100%;
}
#container {	
	margin:0 auto (-$footerH);
	min-height:100%;
	overflow: hidden;
	min-width: 1200px;
}
.content{	
    padding: 0 0 $footerH;
   
    .wrap{
    	box-sizing: border-box;
    	padding: 10px 200px 0;
     
      position: relative;
     
    }
   
	}
.bg{
	 background-repeat: no-repeat;
	background-image: url("../img/footer.jpg");
	background-position: center 0;
	height: 288px;
	
}
.bg-bottom{
	margin-top: -30px;
	.wrap{
		position: relative;
		&:after{
			@include psevdo;
			background-repeat: no-repeat;
	        background-image: url("../img/top-img.jpg");
	        background-position: center 0;
	        height: 102px;
	            bottom: -22px;
			    z-index: 2;
			    width: 1200px;
			    left: 0px;
		}
	}
	
}	
.contacts{
	float: right;
	padding-top: 7px;
}
.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}
.bordered{
	border: 1px solid $border;	
	line-height: 0;
	padding: 1px;
}
figure.bordered_blue{
	border: 1px solid #b1e8e9;
	//box-shadow: 0 0 1px #b1e8e9;
	line-height: 0;
	padding: 1px;
}
.circle_fam{
	border-radius: 50%;
	background-color: #967f69;
}
.circle-brown{
	font-family: "robotoslabbold";
	font-size: 30px;
	color: #f9f8f7;
	border-radius: 50%;
	background-color: #967f69;
	width: 70px;
	height: 70px;
	display: inline-block;
	text-align: center;
	position: absolute;
    left: 40px;
    top: 103px;
	small{
		font-family: "robotoslabregular";
		font-size: 9px;
		
	}
	p{
		margin-bottom: -15px;
	}
}
.big-slider-wrap{
	position: relative;
	line-height: 0;
	ul.offer-list{
		@include horizontal-list(9px);
		position: absolute;
		bottom: 43px;
		left: 50%;
		z-index: 200;
		margin-left: -555px;
		a{
			font-family: "robotoslabbold";
			color: $light-gray;
			text-transform: uppercase;			
			display: inline-block;
			border-radius: 50%;
			width: 115px;
			height: 115px;
			border: 3px solid $light-gray;
			text-align: center;
			padding-top: 10px;
			box-sizing: border-box;
			i{
				font-size: 30px;
				display: block;
				margin: 0 auto 8px;
				min-height: 15px;
			}
			span{
				    line-height: 15px;
                    display: inline-block;
			}
		}
		li:nth-child(1){
			a{
				background-color: rgba($orange, .8);
				padding-top: 35px;
			}
		}
		li:nth-child(2){
			a{
				background-color: rgba($yellow, .8);
			}
		}
		li:nth-child(3){
			a{
				background-color: rgba($green, .8);
				padding-top: 18px;
			}

		}
	}
	&:before, &:after{
		@include psevdo;
		background-color: rgba(#fff, .65);
		left: 0;
		right: 0;
		z-index: 200;
	}
	&:before{
		top: 0;
		height: 13px;
	}
	&:after{
		bottom: 0;
		height: 17px;
	}
}
.ico-disk{
	@include ico(disk);
}
.ico-smile{
	@include ico(smile);
}

.ico-line-center{
	@include ico(line-center);	
	margin-left: -(ico-sprite-width(line-center)/2);
}
.ico-line-center2{
	@include ico(line-center2);	
	margin-left: -(ico-sprite-width(line-center2)/2);
	top: 1px;
}
.ico-line-white-center{
	@include ico(lin-white-center);	
	margin-left: -(ico-sprite-width(lin-white-center)/2);
}
.ico-fam{
	@include ico(fam);	
}
.ico-circle{
	@include ico(circle);
}
.ico-circle-h{
	@include ico(circle-h);
}
.line{
	position: relative;	
	background-repeat: repeat-x !important;	
	background-position: 0 center !important;
	margin-bottom: 20px;
	&:before,&:after{
		@include psevdo;
		top: 6px;
	}
	&:before{
		left: 0;
	}
	&:after{
		right: 0;
	}
	i{
		position: absolute;
	left: 50%;
	}
}
.line_darck{
	height: ico-sprite-height(line-center);
	@include background(image-url("line-bg.png"));
	&:before{
		@include ico(line-left);
	}
	&:after{
		@include ico(line-right);
	}
}
.line_blue{
	@include background(image-url("line-blue-bg.png"));
	height: ico-sprite-height(blue-end);
	&:before{
		@include ico(blue-end);
		@include rotate(180deg);
		top: 0;
	}
	&:after{
		@include ico(blue-end);
		top: 0;
		
	}
}
.line_white{
     position: relative;
     &:before, &:after{     	
     	height: 1px;
     	background-color: #FFF;     	
     	width: 50%;
     	top: 1px;
     }
     &:before{
     	left: -12px;
     }
     &:after{
     	right: -12px;
     }
}
.two-columns{
	article{
		display: inline-block;
		float: left;
		box-sizing: border-box;
		width: 50%;
		padding-right: 30px;
		figure{
			&:first-child{
				float: left;
			}
			&:last-child{
				float: right;
			}
		}
	}
	.figure-wrap{
		margin-bottom: 30px;
	}
}
.dased{
	border-bottom: 1px dashed $border;
	margin: 20px 0 0;

}
.circle_border{
	border-radius: 50%;
	padding: 1px;
	border: 1px solid $border;
	display: inline-block;
	img{
	  border-radius: 50%;
	}
  
}
.slider-wrap{
	margin-top: 30px;
	margin-bottom: 40px;
}
.small-slider{
   margin-top: 35px;
	figure{
   
   width: 150px;
   height: 150px; 
   margin-bottom: 15px;
   
   img{
   
   width: 150px;
   height: 150px;
   }
	}
	.chank{
		text-align: center;
		padding-top: 5px;
		box-sizing: border-box;
		h5{
			margin-bottom: 5px;
		}
		p{
			margin: 0 30px;
		}
	}
}
.border-solid_twice{
	border: 1px solid $border2;
	border-top: none;
	margin: -30px 12px 0;
	padding: 40px 20px 15px;
}
.fl-l{
	margin-bottom: 20px;
	figure{
		float: left;
		margin-right: 30px;
	}
	h5{
		text-align: left;
	}
	p{
		margin-bottom: 0;
	}
}
.fl-r{
	margin-bottom: 35px;
	figure{
		float: right;
		margin-left: 30px;
		margin-top: 5px;
	}
	h5{
		text-align: left;
		margin-top: -5px;
       
	}
	p{
		margin-bottom: 20px;
	}
}
.blue-block{
	background-color: $blue2;
	background-repeat: no-repeat; 	
	background-image: url("../img/blue-bg.png");	
	background-position: center 0;
	color: $blue-light2;
	font-size: 12px;
	h3{
		color: $blue-light2;
		text-align: center;
	}
	article{
           margin-left: 310px;
           top: -5px;
           position: relative;
           .line{
           	margin-bottom: 10px;
           }
	}
	.blue-block-inner{
		padding: 20px 20px 2px;
		margin-bottom: 33px;
	}
}
.blue-block.arch_{
         margin: -21px 12px 0;
         h3{
         	margin-bottom: 25px;
         }
        p{
        	line-height: 17px;
        	margin-bottom: 10px;
        }
}
.bgr{
	background-position: right 0;

}
.os{
	padding: 20px 15px;
	box-sizing: border-box;
	width: 560px;
	margin: 30px auto;
	
	h5{
		font-size: 18px;
		color: #fff;
		letter-spacing: -0.01em;
        margin-bottom: 10px;
	}
}
.slider-two-row{
	margin-top: 30px;
	
	article{
		
		text-align: center;
		margin-bottom: 15px;
		padding-top: 5px;
		figure{
			
			width: 145px;
			height: 145px;
			margin-bottom: 30px;
			
			position: relative;
			img{
				width: 145px;
				height: 145px;
			   
			}
		}
		h5{
			    margin-left: 20px;
			    margin-right: 20px;
			    line-height: 20px;
			    min-height: 35px;
		}
	}
}
.isotope{
	height: 520px;
	margin-top: 40px;
	.am-wrapper{
			float:left;
			position:relative;
			overflow:hidden;
		}
		.am-wrapper img{
			position:absolute;
			outline:none;
		}
}
.photo-title{
	margin-top: 30px;
	
}
.pl_pr{
	padding: 0 30px;
}
.photo-row{
	h5{
		margin-bottom: 10px;
	}
	article{
		margin-bottom: 5px;
		margin-top: 15px;
		&:nth-child(odd){
		figure{
			float: none;
		}		
	}
	&:nth-child(even){
		padding-right: 0;
	  }
	}
}
.varibly_bloks{
	margin-bottom: 35px;
	margin-top: 25px;
	article{
		display: inline-block;
		float: left;
		&:first-child{
			
			width: 305px;
			position: relative;
			&:after{
				@include psevdo;
				width: 1px;
				height: 155px;
				border-left: 1px dashed $border;
				right: 0;
				top: 30px;
			}
		}
		&:last-child{
			padding-left: 20px;
			
		}
		figure{
			margin-bottom: 10px;
		}
	}
	h3{
		margin-bottom: 15px;
		text-align: center;
		letter-spacing: 0;
	}
}
.mt20{
	margin-top: 20px;
}	
.plan-wrap{
	margin-bottom: 30px;
}
.circle_block{
	display: inline-block;
	float: left;
	width: 138px;
	text-align: center;
    figure{
			height: 125px;
			width: 125px;
			
			img{
				height: 125px;
			width: 125px;
		
			}
		}
}
table.rezalt{
	margin-top: 70px;
	th{
		border-top: 1px solid $table;
		border-bottom: 1px solid $table;
		color: $table;
		&:nth-child(1){
			width: 160px;
		}
		&:nth-child(2){
			width: 170px;
		}
		&:nth-child(3){
			width: 80px;
		}
		&:nth-child(4){
			width: 80px;
		}
		&:last-child{
			width: 110px;
		}
	}
}
.rezalt tr:hover{
	a{
		color: $table;
		text-decoration: underline;

	}
}
.rezalt{
	a{
		font-size: 12px;
	}
	td{
		height: 45px;
		border-bottom: 1px solid $border2;
		background-color: $row_bg;
		text-align: center;
	}
	th{
		text-align: center;
		height: 50px;
	}
}
.show-more{
	text-align: center;
	margin-top: 10px;
	a{
		border-bottom: 1px dashed $linck;
	color: $linck;
	font-size: 11px;
	}
}
.hide{
	display: none;
	table{
		margin-top: 0;
	}
}
.three-column{
	article{
		display: inline-block;
	float: left;
	width: 33.3%;
	box-sizing: border-box;
	
	}
	i{
		display: block;
		margin: auto;
	}

}
a.news{
	font-size: 11px;
	text-decoration: underline;
	color: $blue;
}
.ico-lock{
	@include ico(loc);
}
.ico-watch{
	@include ico(watch);
}
.ico-phone{
	@include ico(phone);
}
.copyright{
	font-size: 10px;
	  font-family:Verdana, Geneva, sans-serif;
	  font-weight: bold;
	  margin-bottom: -8px;
}
.rezerved{
	font-size: 10px;
	  font-family:Verdana, Geneva, sans-serif;
}
.arch{
	margin-top: 30px;
	article{
		&:first-child{
			padding-left: 25px;
			padding-right: 10px;
		}
		&:last-child{
			padding-left: 10px;
			padding-right: 25px;
		}
	}
	
}
.dased.mar{
		margin: 20px 30px 0;
	}
	#map{
		height: 440px;
		margin-top: 30px;
        margin-bottom: 40px;
	}
	.news{
		p:nth-child(2){
			margin-bottom: 0;
		}
		article{
			width: 265px;
			box-sizing: border-box;
			padding-left: 15px;
			margin-bottom: 10px;
			&:first-child{
				padding-left: 0;
			}
		}
	}
.cont{
	padding-left: 85px; 
	    position: relative;
    z-index: 20;
	article{
		padding-top: 8px;
		position: relative;
		padding-left: 15px;
		min-height: 160px;
		box-sizing: border-box;
		padding-right: 30px;

		.title{
			font-family: "robotoslabbold";
			font-size: 14px;
			padding-left: 15px;
			margin-top: 10px;
			margin-bottom: 20px;
		}
		&:before{
			@include psevdo;
			width: 1px;
			border-left: 1px solid $border;
			height: 65px;
			left: 0;
			bottom: 0;
		}
		p{
			margin-bottom: 0;
		}
	}
	i{
		display: inline-block;
		margin-left: 50px;
	}
}
#pop-up{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(#fff, .75);
	display: none;
	h5{
		font-size: 16px;
	}
	input{
		width: 295px;
	}
	.select{
		width: 295px;
	}
	.os{
		width: 475px;	
		position: relative;
		top: 50%;
		margin-top: -180px;
		.main-form {
			    padding-left: 30px;
			    padding-right: 18px;
			    padding-top: 15px;
			}
			button{
				display: block;
				margin: auto;
				height: 40px;
			}
	}
}
.ico-close{
	@include ico(close);
	float: right;
	position: relative;
	cursor: pointer;
}
.big-slider{
	.slick-slide{
	img{
		width: 100%;
		height: 100%;
	}
}
}
	