[class^="ico-"]{
	display: inline-block;
}
$bgc : #f4f2f1;
$blue: #3fa6a8;
$blue-light: #65c1c3;
$sw-li-active: #b2a599;
$border: #ccc5be;
$light-gray: #f9eadc;
$orange : #d45e1d;
$yellow : #d47d00;
$green : #719815;
$darck-gray : #867b71;
$border2 : #d4cec8;
$blue2 : #54b7b9;
$blue-light2: #e6fefe;
$blue3 : #e0feff;
$blue4 : #34a7a9;
$blue5 : #a4f4f5;
$dots : #988b7f;
$light-gray2 : #b6b0a8;
$table : #4aaaac;
$filter : #b5a99b;
$row_bg : #fbfaf9;
$linck : #bab0a4;
$aside : #b3a699;
$aside-h : #8ef4f6;
$aside-b : #dcd2c7;

$footerH : 70px; /*Высота футтера*/
$headrH : 190px; /*Высота хедера*/
$base-font-size: 13px;
$base-line-height : 25px;
$base-font: "robotoslabregular";
$base-font-color : #978f86;
$header-color : #fff;
$footer-color : $bgc;